<section class="about-section">
  <div class="container">
    <div class="about-section__wrapper">
      <div class="about-section__left">
        <h2 class="about-section__title section-title">
          Российская производственная компания
        </h2>

        <picture>
          <source srcset="img/about-section-img.webp" type="image/webp" />
          <img
            class="about-section__img"
            src="img/about-section-img.png"
            alt=""
          />
        </picture>
      </div>
      <div class="about-section__right">
        <div class="about-section__text">
          <p>
            специализирующаяся на разработке и серийном изготовлении широкого
            спектра высококачественных датчиков давления и уровня для различных
            применений в ТЭК, промышленности и ЖКХ.
          </p>
          <p>
            Компания ведет свою историю с 2005 года, когда на основе европейских
            технологий и при поддержке ведущих инженеров из Германии и Чехии в
            Москве было развернуто сборочное производство современных датчиков
            давления из европейских комплектующих.
          </p>
        </div>
        <a class="about-section__btn btn" href="#">Подробнее о компании</a>
      </div>
    </div>
  </div>
</section>
