<section class="areas">
  <div class="container">
    <div class="areas__wrapper">
      <h2 class="areas__title section-title visually-hidden">
        Области применения
      </h2>
      <div class="areas__inner">
        <div class="areas__box">
          <span class="areas__name">Применение</span>

          <ul class="areas__list">
            <li class="areas__item">
              <img src="img/double-chevron.png" alt="icon" />
              Крупные электростанции (атомные электростанции, угольные, газовые)
            </li>
            <li class="areas__item">
              <img src="img/double-chevron.png" alt="icon" />
              Электростанции с пиковой нагрузкой
            </li>
            <li class="areas__item">
              <img src="img/double-chevron.png" alt="icon" />
              Блочные тепловые электростанции
            </li>
          </ul>
        </div>
        <div class="areas__box">
          <span class="areas__name">Особенности</span>

          <ul class="areas__list">
            <li class="areas__item">
              <img src="img/double-chevron.png" alt="icon" />
              Контроль давления в контурах охлаждающей воды и пара, а также в
              системах управления насосом
            </li>
            <li class="areas__item">
              <img src="img/double-chevron.png" alt="icon" />Контроль утечек в
              газопроводах
            </li>
            <li class="areas__item">
              <img src="img/double-chevron.png" alt="icon" />Измерение уровня в
              водозаборах и бассейнах, а также в резервуарах со смазочными
              материалами, этанолом, суспензией и т. д.
            </li>
            <li class="areas__item">
              <img src="img/double-chevron.png" alt="icon" />
              Измерение плотности газа в распределительных устройствах с газовой
              изоляцией SF6
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
