<section class="catalog-block">
  <div class="container">
    <div class="catalog-block__wrapper">
      <div class="catalog-block__left">
        <h2 class="catalog-block__title section-title">
          Каталог преобразователей давления
        </h2>
        <p class="catalog-block__text">
          Ознакомьтесь с ассортиментом нашей продукции в области
          преобразователей давления с помощью нашего актуального каталога
          продукции. Вы можете легко, быстро и бесплатно скачать PDF-файл здесь.
        </p>
        <div class="catalog-block__btns">
          <a class="catalog-block__btn btn" href="#" download>
            <img src="img/pdf-white.png" alt="img" />
            Скачать каталог
          </a>
          <a class="catalog-block__btn btn" href="#" download>
            <img src="img/flyer-white.png" alt="img" />
            Листовка
          </a>
          <a class="catalog-block__btn btn presentation" href="#" download>
            <img src="img/presentation-white.png" alt="img" />
            Презентация
          </a>
        </div>
      </div>
      <div class="catalog-block__img">
        <picture>
          <source srcset="img/catalog-block-img.webp" type="image/webp" />
          <img src="img/catalog-block-img.png" alt="img" />
        </picture>
      </div>
    </div>
  </div>
</section>
