<section class="catalog">
  <div class="filters-mobile">
    <div class="filters-mobile__top">
      <span class="filters-mobile__title">Фильтр</span>
      <button class="filters-mobile__close" type="button">
        <svg>
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <div class="filters-mobile__inner">
      <div class="filters-mobile__accordions">
        <div class="filters-accordion accordion">
          <div
            class="filters-accordion__control accordion-control-btn"
            type="button"
          >
            <span class="filters-accordion__control-link"> Тип датчиков </span>
            <button
              class="filters-accordion__control-btn"
              type="button"
            >
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>
          </div>
          <div class="filters-accordion__content accordion-content">
            <div class="filters-accordion__inner">
              <ul class="filters-accordion__list">
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" checked />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> Все датчики</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">Высокоточные</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">Промышленные</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">Бюджетные</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filters-accordion accordion">
          <div
            class="filters-accordion__control accordion-control-btn"
            type="button"
          >
            <span class="filters-accordion__control-link"> Тип давления </span>
            <button
              class="filters-accordion__control-btn"
              type="button"
            >
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>
          </div>
          <div class="filters-accordion__content accordion-content">
            <div class="filters-accordion__inner">
              <ul class="filters-accordion__list">
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">дифференциальное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">избыточное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">абсолютное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">вакуумметрическое</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filters-accordion accordion">
          <div
            class="filters-accordion__control accordion-control-btn"
            type="button"
          >
            <span class="filters-accordion__control-link">
              Основная погрешность
            </span>
            <button
              class="filters-accordion__control-btn"
              type="button"
            >
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>
          </div>
          <div class="filters-accordion__content accordion-content">
            <div class="filters-accordion__inner">
              <ul class="filters-accordion__list">
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">дифференциальное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">избыточное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">абсолютное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">вакуумметрическое</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filters-accordion accordion">
          <div
            class="filters-accordion__control accordion-control-btn"
            type="button"
          >
            <span class="filters-accordion__control-link">Взрывозащита </span>
            <button
              class="filters-accordion__control-btn"
              type="button"
            >
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>
          </div>
          <div class="filters-accordion__content accordion-content">
            <div class="filters-accordion__inner">
              <ul class="filters-accordion__list">
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">дифференциальное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">избыточное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">абсолютное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">вакуумметрическое</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filters-accordion accordion">
          <div
            class="filters-accordion__control accordion-control-btn"
            type="button"
          >
            <span class="filters-accordion__control-link"
              >Выходные сигналы
            </span>
            <button
              class="filters-accordion__control-btn"
              type="button"
            >
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>
          </div>
          <div class="filters-accordion__content accordion-content">
            <div class="filters-accordion__inner">
              <ul class="filters-accordion__list">
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">дифференциальное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">избыточное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">абсолютное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">вакуумметрическое</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">дифференциальное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">избыточное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">абсолютное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">вакуумметрическое</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="filters-accordion accordion">
          <div
            class="filters-accordion__control accordion-control-btn"
            type="button"
          >
            <span class="filters-accordion__control-link">Температура </span>
            <button
              class="filters-accordion__control-btn"
              type="button"
            >
              <svg>
                <use xlink:href="img/sprite.svg#chevron"></use>
              </svg>
            </button>
          </div>
          <div class="filters-accordion__content accordion-content">
            <div class="filters-accordion__inner">
              <ul class="filters-accordion__list">
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">дифференциальное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">избыточное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">абсолютное</span>
                  </label>
                </li>
                <li class="filters-accordion__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">вакуумметрическое</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="catalog__top">
      <h1 class="catalog__title">Датчики дифференциального давления</h1>
      <button class="catalog__btn btn" type="button">
        Помощь в подборе
      </button>

      <div class="catalog__right">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>

    <div class="catalog__grid">
      <div class="catalog__side">
        <form class="catalog__form form-filter">
          <div class="form-filter__box">
            <span class="form-filter__label">Тип датчиков</span>
            <div class="form-filter__inner">
              <ul class="form-filter__list">
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" checked />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> Все датчики </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">Высокоточные</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> Промышленные </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> Бюджетные </span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-filter__box">
            <span class="form-filter__label">Тип датчиков</span>
            <div class="form-filter__inner">
              <ul class="form-filter__list">
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">дифференциальное </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">избыточное</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> абсолютное </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> вакуумметрическое </span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-filter__box">
            <span class="form-filter__label">Основная погрешность</span>
            <div class="form-filter__inner">
              <ul class="form-filter__list">
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">0,5% </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">0,25%</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> 0,2% </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> 0,1% </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">0,5% </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">0,25%</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> 0,2% </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> 0,1% </span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-filter__box">
            <span class="form-filter__label">Взрывозащита</span>
            <div class="form-filter__inner">
              <ul class="form-filter__list">
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">нет </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">Exia</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">Exd</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-filter__box">
            <span class="form-filter__label">Выходные сигналы</span>
            <div class="form-filter__inner">
              <ul class="form-filter__list">
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">0...20 мА </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">4...20 мА</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">0...10 В</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">0...5 В</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">0...20 мА </span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">4...20 мА</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">0...10 В</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">0...5 В</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="form-filter__box">
            <span class="form-filter__label">Температура</span>
            <div class="form-filter__inner">
              <ul class="form-filter__list">
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">-20 °C</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> 0 °C</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">-5 °C</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> -25 °C</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">-20 °C</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> 0 °C</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text">-5 °C</span>
                  </label>
                </li>
                <li class="form-filter__item">
                  <label class="checkbox">
                    <input class="checkbox__input" type="checkbox" />
                    <span class="checkbox__box"></span>
                    <span class="checkbox__text"> -25 °C</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
      <div class="catalog__content">
        <button class="catalog__btn-filters" type="button">
          <svg>
            <use xlink:href="img/sprite.svg#filters-icon"></use>
          </svg>
          Фильтр
        </button>

        <ul class="catalog__list">
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления с HART-протоколом
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                  <p class="products-card__detail">Exia, Exd</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления с HART-протоколом
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                  <p class="products-card__detail">Exia, Exd</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления с HART-протоколом
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                  <p class="products-card__detail">Exia, Exd</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления с HART-протоколом
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                  <p class="products-card__detail">Exia, Exd</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления с HART-протоколом
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                  <p class="products-card__detail">Exia, Exd</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления с HART-протоколом
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                  <p class="products-card__detail">Exia, Exd</p>
                </div>
              </div>
            </article>
          </li>
          <li class="catalog__item">
            <article class="products-card">
              <a class="products-card__top" href="#">
                <picture>
                  <source srcset="img/products/1.webp" type="image/webp" />
                  <img src="img/products/1.jpg" alt="img" />
                </picture>
              </a>
              <div class="products-card__body">
                <h3 class="products-card__title">
                  <a href="#">HMP 331D </a>
                </h3>
                <p class="products-card__text">
                  Интеллектуальный датчик давления
                </p>
                <div class="products-card__details">
                  <p class="products-card__detail">
                    от 0 ... 400 мбар до 0 ... 600 бар
                  </p>
                  <p class="products-card__detail">Погрешность: 0,1% ДИ</p>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
