<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__left">
        <h1 class="contacts__title section-title">Контакты</h1>
        <div class="contacts__inner">
          <div class="contacts__phones">
            <a class="contacts__phone" href="tel:+74953801683">
              8 (495) 380-16-83
            </a>
            <a class="contacts__phone" href="tel:+78007757074"
              >8 800 775-70-74</a
            >
          </div>
          <div class="contacts__info">
            <p>ООО «БД СЕНСОРС РУС»</p>
            <p>ИНН 7718542411</p>
            <p>КПП 772401001</p>
            <p>ОГРН 1057746505410</p>
            <address>
              117105 Россия, Москва, Варшавское шоссе, дом 35, строение 1
            </address>
            <a href="mailto:zakaz@bdsensors.ru">zakaz@bdsensors.ru</a>
          </div>
          <div class="contacts__btns">
            <button class="contacts__btn btn" type="button">
              Отправить запрос
            </button>
            <button class="contacts__btn btn" type="button">
              Дилеры и Партнеры
            </button>
          </div>
        </div>
      </div>
      <div class="contacts__map map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A9091bda26eaa9ef83c3c52fd91c012fc4d005d39d29d268dc8f64f8f5818ea3b&amp;source=constructor"
          width="800"
          height="600"
        ></iframe>
      </div>
    </div>
  </div>
</section>
