<section class="connect">
  <div class="container">
    <div class="connect__wrapper">
      <h2 class="connect__title section-title">СВЯЖИТЕСЬ С НАМИ</h2>

      <form class="connect__form form-submit">
        <div class="form-submit__inner">
          <div class="form-submit__left">
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Ваше имя"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="text"
                placeholder="Введите название компании"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="email"
                placeholder="Введите Ваш e-mail"
              />
            </label>
            <label class="form-submit__group">
              <input
                class="form-submit__input"
                type="tel"
                placeholder="Введите Ваш телефон"
              />
            </label>
          </div>
          <div class="form-submit__right">
            <label class="form-submit__group form-submit__group--big">
              <textarea class="form-submit__input" placeholder="Комментарий">
              </textarea>
            </label>
            <p class="form-submit__text">
              Отправляя заполненную форму, вы подтверждаете согласие на
              обработку персональных данных (закон №152-ФЗ «О персональных
              данных») - <a href="#" target="_blank">подробнее</a>
            </p>
            <button class="form-submit__btn btn" type="submit">
              Отправить заявку
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
