<section class="descr">
  <div class="container">
    <div class="descr__top">
      <h2 class="descr__title">
        Электронное оборудование для измерения давления от BD | SENSORS
      </h2>
      <p class="descr__text">
        Ассортимент нашей продукции в области оборудования для измерения
        давления уникален. У нас есть исключительно обширный ассортимент
        стандартных продуктов, актуальных для рынка. Это основано на возможности
        сочетания различных материалов корпуса с различными сенсорными
        технологиями. Но НАШЕЙ СИЛЬНОЙ стороной остается способность действовать
        даже нестандартно. Для тех, кто запрашивает индивидуальные решения даже
        в небольших сериях, у BD| SENSORS всегда есть наготове подходящий ответ.
        Реализация этого ответа будет технически грамотной, экономичной, а также
        быстрой и гибкой.
      </p>
    </div>

    <div class="advantages">
      <h2 class="advantages__title section-title">Преимущества</h2>

      <ul class="advantages__list">
        <li class="advantages-item">
          <img src="img/double-chevron.png" alt="icon" />
          Широкий ассортимент оборудования для измерения давления
        </li>
        <li class="advantages-item">
          <img src="img/double-chevron.png" alt="icon" />
          Подходит для измерений от 0 ... 10 мбар до 0 ... 6000 бар
        </li>
        <li class="advantages-item">
          <img src="img/double-chevron.png" alt="icon" />
          Измерения абсолютного, относительного и дифференциального давления
        </li>
        <li class="advantages-item">
          <img src="img/double-chevron.png" alt="icon" />
          Измерения абсолютного, относительного и дифференциального давления
        </li>
        <li class="advantages-item">
          <img src="img/double-chevron.png" alt="icon" />
          Промышленный дизайн с общепринятыми утверждениями
        </li>
        <li class="advantages-item">
          <img src="img/double-chevron.png" alt="icon" />
          Универсальность в промышленном применении
        </li>
      </ul>
    </div>
  </div>
</section>
