<section class="docs">
  <div class="container">
    <div class="docs__wrapper">
      <div class="docs__top">
        <h1 class="docs__title section-title">Документация</h1>
        <p class="docs__text">
          Здесь вы можете найти всю необходимую информацию о продукте.
          Технические спецификации, инструкции по эксплуатации и сборке,
          сертификаты и программное обеспечение для загрузки, а так же
          маркетинговые материалы. Для доступа к нужным материалам следует
          выбрать тип продукта в столбце 1, далее нужно выбрать интересующую
          модель в столбце 2. После этого все существующие файлы будут доступны
          для загрузки.
        </p>
        <div class="docs__sort dosc-sort">
          <div class="dosc-sort__group">
            <span class="dosc-sort__label">Выберите тип продукта</span>
            <select class="dosc-sort__select select">
              <option value="0">Датчики давления</option>
              <option value="1">Выберите тип продукта</option>
              <option value="2">Выберите тип продукта</option>
            </select>
          </div>
          <div class="dosc-sort__group">
            <span class="dosc-sort__label">Выберите продукт</span>
            <select class="dosc-sort__select select">
              <option value="0">DCT 531i</option>
              <option value="1">Выберите продукт</option>
              <option value="2">Выберите продукт</option>
            </select>
          </div>
          <div class="dosc-sort__group">
            <span class="dosc-sort__label">Выберите вариант загрузки</span>
            <select class="dosc-sort__select select">
              <option value="0">Руководства</option>
              <option value="1">Тема запроса</option>
              <option value="2">Тема запроса</option>
            </select>
          </div>
        </div>
        <ul class="docs__list">
          <li class="docs__item">
            <a class="docs__link" href="#" download>
              <img src="img/pdf-icon.png" alt="img" />
              Standard German
            </a>
          </li>
          <li class="docs__item">
            <a class="docs__link" href="#" download>
              <img src="img/pdf-icon.png" alt="img" />
              Standard English
            </a>
          </li>
        </ul>
      </div>
      <ul class="docs__cols">
        <li class="docs__col">
          <span class="docs__name">Общий каталог</span>
          <a class="docs-card" href="#" download>
            <picture>
              <source srcset="img/docs/1.webp" type="image/webp" />
              <img class="docs-card__img" src="img/docs/1.jpg" alt="img" />
            </picture>

            <span class="docs-card__link">
              <img src="img/pdf-icon.png" alt="img" />
              Скачать
            </span>
          </a>
        </li>
        <li class="docs__col">
          <span class="docs__name">Презентация</span>
          <a class="docs-card" href="#" download>
            <picture>
              <source srcset="img/docs/2.webp" type="image/webp" />
              <img class="docs-card__img" src="img/docs/2.jpg" alt="img" />
            </picture>

            <span class="docs-card__link">
              <img src="img/pdf-icon.png" alt="img" />
              Скачать
            </span>
          </a>
        </li>
        <li class="docs__col">
          <span class="docs__name">Форма рекламации</span>
          <a class="docs-card" href="#" download>
            <picture>
              <source srcset="img/docs/3.webp" type="image/webp" />
              <img class="docs-card__img" src="img/docs/3.jpg" alt="img" />
            </picture>

            <span class="docs-card__link">
              <img src="img/pdf-icon.png" alt="img" />
              Скачать
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
