<section class="electronic-equipment">
  <div class="container">
    <div class="electronic-equipment__wrapper">
      <div class="electronic-equipment__left">
        <h2 class="electronic-equipment__title section-title">
          Электронное оборудование <br />
          для измерения давления
        </h2>
        <div class="electronic-equipment__text">
          <p>
            Наш ассортимент оборудования для измерения давления включает в себя
            различные варианты измерительных приборов. Они используются для
            определения и отображения физического давления среды – в нашем
            случае газов и жидкостей.
          </p>
          <p>
            Продукты семейства устройств измерения давления охватывают
            номинальный диапазон давления от 1 мбар до 10 000 бар, который в
            большинстве случаев использования измеряется как относительное
            давление. Многие продукты также классифицируются как устройства для
            измерения абсолютного давления и давления соответственно. Доступны
            вакуумные конструкции.
          </p>
          <p>
            Мы отмечаем наличие пяти различных сенсорных технологий, которые в
            сочетании с различными материалами корпусов, соединений и уплотнений
            приводят к созданию специально разработанной технологии измерения
            давления для конкретного применения.
          </p>
        </div>
      </div>
      <div class="electronic-equipment__right">
        <div class="download-catalog">
          <h3 class="download-catalog__title">
            Технология измерения давления по каталогу
          </h3>
          <picture>
            <source srcset="img/download-catalog.webp" type="image/webp" />
            <img
              class="download-catalog__img"
              src="img/download-catalog.jpg"
              alt="img"
            />
          </picture>
          <p class="download-catalog__text">
            Каталоги, связанные с техникой измерения давления, доступны на
            немецком и английском языках. Они включают в себя техническую
            информацию для каждого продукта, а также ключ заказа.
          </p>
          <a class="download-catalog__btn btn" href="#" download>Скачать</a>
        </div>
      </div>
    </div>
  </div>
</section>
