<section class="equipments">
  <div class="container">
    <div class="equipments__wrapper">
      <h2 class="equipments__title section-title">
        Наш ассортимент оборудования для измерения давления
      </h2>

      <ul class="equipments__list">
        <li class="equipments__item">
          <div class="equipments-card">
            <div class="equipments-card__top">
              <picture>
                <source srcset="img/equipments/1.webp" type="image/webp" />
                <img src="img/equipments/1.jpg" alt="equipments" />
              </picture>
            </div>

            <div class="equipments-card__body">
              <a class="equipments-card__title" href="#">
                ПРЕОБРАЗОВАТЕЛЬ ДАВЛЕНИЯ ДАТЧИК ДАВЛЕНИЯ
              </a>
            </div>
          </div>
        </li>
        <li class="equipments__item">
          <div class="equipments-card">
            <div class="equipments-card__top">
              <picture>
                <source srcset="img/equipments/2.webp" type="image/webp" />
                <img src="img/equipments/2.jpg" alt="equipments" />
              </picture>
            </div>

            <div class="equipments-card__body">
              <a class="equipments-card__title" href="#">
                ПРЕОБРАЗОВАТЕЛЬ ПЕРЕПАДА ДАВЛЕНИЯ
              </a>
            </div>
          </div>
        </li>
        <li class="equipments__item">
          <div class="equipments-card">
            <div class="equipments-card__top">
              <picture>
                <source srcset="img/equipments/3.webp" type="image/webp" />
                <img src="img/equipments/3.jpg" alt="equipments" />
              </picture>
            </div>

            <div class="equipments-card__body">
              <a class="equipments-card__title" href="#"> ЦИФРОВОЙ МАНОМЕТР </a>
            </div>
          </div>
        </li>
        <li class="equipments__item">
          <div class="equipments-card">
            <div class="equipments-card__top">
              <picture>
                <source srcset="img/equipments/4.webp" type="image/webp" />
                <img src="img/equipments/4.jpg" alt="equipments" />
              </picture>
            </div>

            <div class="equipments-card__body">
              <a class="equipments-card__title" href="#">
                ЭЛЕКТРОННЫЕ РЕЛЕ ДАВЛЕНИЯ
              </a>
            </div>
          </div>
        </li>
        <li class="equipments__item">
          <div class="equipments-card">
            <div class="equipments-card__top">
              <picture>
                <source srcset="img/equipments/5.webp" type="image/webp" />
                <img src="img/equipments/5.jpg" alt="equipments" />
              </picture>
            </div>

            <div class="equipments-card__body">
              <a class="equipments-card__title" href="#">
                СПЕЦИАЛЬНОЕ ОБОРУДОВАНИЕ
              </a>
            </div>
          </div>
        </li>
        <li class="equipments__item">
          <div class="equipments-card">
            <div class="equipments-card__top">
              <picture>
                <source srcset="img/equipments/6.webp" type="image/webp" />
                <img src="img/equipments/6.jpg" alt="equipments" />
              </picture>
            </div>

            <div class="equipments-card__body">
              <a class="equipments-card__title" href="#"> ПРИНАДЛЕЖНОСТИ </a>
            </div>
          </div>
        </li>
        <li class="equipments__item">
          <div class="equipments-card">
            <div class="equipments-card__top">
              <picture>
                <source srcset="img/equipments/7.webp" type="image/webp" />
                <img src="img/equipments/7.jpg" alt="equipments" />
              </picture>
            </div>

            <div class="equipments-card__body">
              <a class="equipments-card__title" href="#">
                ПЬЕЗОЭЛЕКТРИЧЕСКИЕ ДАТЧИКИ ДАВЛЕНИЯ
              </a>
            </div>
          </div>
        </li>
        <li class="equipments__item">
          <div class="equipments-card">
            <div class="equipments-card__top">
              <picture>
                <source srcset="img/equipments/8.webp" type="image/webp" />
                <img src="img/equipments/8.jpg" alt="equipments" />
              </picture>
            </div>

            <div class="equipments-card__body">
              <a class="equipments-card__title" href="#">
                ИНЖЕНЕРНЫЕ
                РЕШЕНИЯ ДЛЯ КЛИЕНТОВ
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
