<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="footer__col footer__col--info">
          <a class="footer__logo logo" href="#">
            <img src="img/logo-white.png" alt="img" />
          </a>
          <div class="footer__phones">
            <a class="footer__phone" href="tel:+74953801683">
              8 (495) 380-16-83
            </a>
            <a class="footer__phone" href="tel:+78007757074">8 800 775-70-74</a>
            <span>Бесплатный звонок по РФ</span>
          </div>

          <div class="footer__socials">
            <button class="footer__btn footer__btn--mobile btn" type="button">
              Отправить запрос
            </button>

            <ul class="socials">
              <li class="socials__item">
                <a class="socials__link" href="#" aria-label="facebook">
                  <svg>
                    <use xlink:href="img/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" aria-label="vk">
                  <svg>
                    <use xlink:href="img/sprite.svg#vk"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" aria-label="twitter">
                  <svg>
                    <use xlink:href="img/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer__col">
          <span class="footer__name">Продукция</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Давление</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Уровень</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Реле</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Индикаторы</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Отрасли</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#"
                >Отопление, вентиляция и кондиционирование (ОВиК)</a
              >
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"
                >Измерительное оборудование и испытательные стенды</a
              >
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"
                >Гидроразрыв пласта / пульпа / буровые растворы</a
              >
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"
                >Мониторинг грунтовых вод скважин и водоемов</a
              >
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Медицина и фармацевтика</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Пищевая промышленность</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Водоподготовка и ЖКХ</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Химическая отрасль</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Машиностроение</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Судостроение</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Энергетика</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Нефть и газ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__right">
        <div class="footer__col">
          <span class="footer__name">Компания</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">О компании</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Технологии</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Новости</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Статьи</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"> Дилеры и партнеры</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Вакансии</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <span class="footer__name">Поддержка</span>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Документация</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Помощь</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Заказ продукции</a>
            </li>
          </ul>
        </div>

        <button class="footer__btn btn" type="button">Отправить запрос</button>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__bottom-left">
          2022 - BD | SENSORS RUS - Все права защищены
          <div class="footer__bottom-links">
            <a href="#">Карта сайта</a>
            <a href="#">Условия использования сайта</a>
            <a href="#">Политика конфиденциальности</a>
          </div>
        </div>

        <div class="footer__bottom-right">
          <a
            class="company"
            href="https://razrabotka-saita.ru/"
            target="_blank"
          >
            <span>Разработка сайта</span>
            <img src="img/logo-company.png" alt="АдвансМедиа" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
