<section class="help">
  <div class="container">
    <div class="help__wrapper">
      <h1 class="help__title section-title">Помощь</h1>
      <p class="help__note">
        <strong>Заявка в техническую поддержку компании</strong>
      </p>

      <form class="help__form form-submit">
        <div class="form-submit__group form-submit__group--big">
          <label class="form-submit__label" for="topic">Выберите тему</label>
          <select class="form-submit__select select" id="topic">
            <option value="0">Тема запроса</option>
            <option value="1">Тема запроса</option>
            <option value="2">Тема запроса</option>
          </select>
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="name">Имя или компания</label>
          <input
            class="form-submit__input"
            type="text"
            id="name"
            placeholder="Введите ваше имя или название компании"
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="email">
            E-mail<small>*</small>
          </label>
          <input
            class="form-submit__input"
            type="email"
            id="email"
            placeholder="Введите Ваш e-mail"
            required
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="phone">
            Телефон<small>*</small>
          </label>
          <input
            class="form-submit__input"
            type="tel"
            id="phone"
            placeholder="Введите Ваш телефон"
            required
          />
        </div>
        <div class="form-submit__group form-submit__group--big">
          <label class="form-submit__label" for="message">Сообщение</label>
          <textarea
            class="form-submit__input form-submit__input--big"
            id="message"
            placeholder="Ваше сообщение"
          ></textarea>
        </div>

        <button class="form-submit__btn btn" type="submit">
          Отправить заявку
        </button>
      </form>

      <div class="faq-accordions">
        <h2 class="faq-accordions__title">Часто - задаваемые вопросы</h2>
        <div class="faq-accordions__accordion accordion">
          <button
            class="faq-accordions__control accordion-control-btn"
            type="button"
          >
            Вопрос 1
          </button>

          <div class="faq-accordions__content accordion-content">
            <div class="faq-accordions__inner">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
        <div class="faq-accordions__accordion accordion">
          <button
            class="faq-accordions__control accordion-control-btn"
            type="button"
          >
            Вопрос 2
          </button>

          <div class="faq-accordions__content accordion-content">
            <div class="faq-accordions__inner">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
        <div class="faq-accordions__accordion accordion">
          <button
            class="faq-accordions__control accordion-control-btn"
            type="button"
          >
            Вопрос 3
          </button>

          <div class="faq-accordions__content accordion-content">
            <div class="faq-accordions__inner">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
        <div class="faq-accordions__accordion accordion">
          <button
            class="faq-accordions__control accordion-control-btn"
            type="button"
          >
            Вопрос 4
          </button>

          <div class="faq-accordions__content accordion-content">
            <div class="faq-accordions__inner">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
        <div class="faq-accordions__accordion accordion">
          <button
            class="faq-accordions__control accordion-control-btn"
            type="button"
          >
            Вопрос 5
          </button>

          <div class="faq-accordions__content accordion-content">
            <div class="faq-accordions__inner">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
        <div class="faq-accordions__accordion accordion">
          <button
            class="faq-accordions__control accordion-control-btn"
            type="button"
          >
            Вопрос 6
          </button>

          <div class="faq-accordions__content accordion-content">
            <div class="faq-accordions__inner">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
