<section class="hero">
  <div class="hero__slider swiper">
    <ul class="hero__slides swiper-wrapper">
      <li class="hero__slide swiper-slide">
        <div class="container">
          <div class="hero__inner">
            <div class="hero__offer">
              <h1 class="hero__title section-title">
                Датчики давления <br />
                и уровня
              </h1>
              <p class="hero__text">
                Разработка и производство <br />
                с доставкой по России
              </p>
              <a class="hero__btn btn" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#grid-icon"></use>
                </svg>
                В каталог
              </a>
            </div>
            <div class="hero__img">
              <picture>
                <source srcset="img/hero/1.webp" type="image/webp" />
                <img src="img/hero/1.png" alt="img" />
              </picture>
            </div>
          </div>
        </div>
      </li>
      <li class="hero__slide swiper-slide">
        <div class="container">
          <div class="hero__inner">
            <div class="hero__offer">
              <h1 class="hero__title section-title">
                Датчики давления <br />
                и уровня
              </h1>
              <p class="hero__text">
                Разработка и производство <br />
                с доставкой по России
              </p>
              <a class="hero__btn btn" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#grid-icon"></use>
                </svg>
                В каталог
              </a>
            </div>
            <div class="hero__img">
              <picture>
                <source srcset="img/hero/1.webp" type="image/webp" />
                <img src="img/hero/1.png" alt="img" />
              </picture>
            </div>
          </div>
        </div>
      </li>
      <li class="hero__slide swiper-slide">
        <div class="container">
          <div class="hero__inner">
            <div class="hero__offer">
              <h1 class="hero__title section-title">
                Датчики давления <br />
                и уровня
              </h1>
              <p class="hero__text">
                Разработка и производство <br />
                с доставкой по России
              </p>
              <a class="hero__btn btn" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#grid-icon"></use>
                </svg>
                В каталог
              </a>
            </div>
            <div class="hero__img">
              <picture>
                <source srcset="img/hero/1.webp" type="image/webp" />
                <img src="img/hero/1.png" alt="img" />
              </picture>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <button
      class="swiper-button-prev"
      type="button"
      aria-label="Предыдущий"
    ></button>
    <button
      class="swiper-button-next"
      type="button"
      aria-label="Следующий"
    ></button>
  </div>
</section>
