<section class="industry">
  <div class="container">
    <div class="industry__top">
      <h2 class="industry__title section-title">Решения для энергетики</h2>
      <p class="industry__text">
        Основываясь на убеждении нашего генерального директора Райнера
        Денндорфера в том, что традиционные технологии производства энергии
        будут постоянно демонстрировать себя и конкурировать с возобновляемыми
        источниками энергии, BD | SENSORS RUS считает своей задачей предложить
        соответствующие электронные устройства измерения давления и
        гидростатические датчики уровня для обеих областей производства энергии,
        а также разработать новые по мере необходимости.
      </p>
    </div>
  </div>
</section>
