<section class="industries">
  <div class="container">
    <div class="industries__top">
      <h2 class="industries__title">
        Используемая технология <br />
        измерения давления
      </h2>
      <p class="industries__text">
        Измерительная техника, в нашем случае технология измерения давления и
        уровня, является базовым уровнем для широкого спектра применений в
        различных отраслях промышленности. Именно от этой основы в решающей
        степени зависит безопасность процессов и, исходя из нее, безопасность
        людей, оборудования и инфраструктуры.
      </p>
    </div>

    <ul class="industries__list">
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/2.webp" type="image/webp" />
              <img src="img/solutions/2.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Энергетика</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/3.webp" type="image/webp" />
              <img src="img/solutions/3.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Пищевая промышленность</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/4.webp" type="image/webp" />
              <img src="img/solutions/4.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Химическая отрасль</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/5.webp" type="image/webp" />
              <img src="img/solutions/5.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Нефть и газ</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/6.webp" type="image/webp" />
              <img src="img/solutions/6.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Судостроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/7.webp" type="image/webp" />
              <img src="img/solutions/7.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Водоподготовка и ЖКХ</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/8.webp" type="image/webp" />
              <img src="img/solutions/8.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#"
              >Медицина и фармацевтика</a
            >
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/9.webp" type="image/webp" />
              <img src="img/solutions/9.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#"
              >Отопление, вентиляция и кондиционирование (ОВиК)</a
            >
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/10.webp" type="image/webp" />
              <img src="img/solutions/10.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#"
              >Измерительное оборудование и испытательные стенды</a
            >
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/11.webp" type="image/webp" />
              <img src="img/solutions/11.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#"
              >Гидроразрыв пласта / пульпа / буровые растворы</a
            >
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/12.webp" type="image/webp" />
              <img src="img/solutions/12.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#"
              >Мониторинг грунтовых скважин и водоемов</a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
