<section class="industries">
  <div class="container">
    <div class="industries__top">
      <h2 class="industries__title">
        Используемая технология <br />
        измерения давления
      </h2>
      <p class="industries__text">
        Измерительная техника, в нашем случае технология измерения давления и
        уровня, является базовым уровнем для широкого спектра применений в
        различных отраслях промышленности. Именно от этой основы в решающей
        степени зависит безопасность процессов и, исходя из нее, безопасность
        людей, оборудования и инфраструктуры.
      </p>
    </div>

    <ul class="industries__list">
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
      <li class="industries__item">
        <div class="solutions-card">
          <a class="solutions-card__top" href="#">
            <picture>
              <source srcset="img/solutions/1.webp" type="image/webp" />
              <img src="img/solutions/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="solutions-card__body">
            <a class="solutions-card__title" href="#">Машиностроение</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
