<div class="list">
  <div class="container">
    <div class="list__wrapper">
      <ul class="list__list">
        <li class="list__item">
          <a class="list__link" href="#"
            >Датчики давления и датчики уровня в пищевой и перерабатывающей
            промышленности</a
          >
        </li>
        <li class="list__item">
          <a class="list__link" href="#"
            >Принадлежности для датчиков БД Сенсорс РУС</a
          >
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Поиск датчиков по исполнению</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Датчики уровня для морской воды</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">HART/Profibus/Modbus/Fieldbus</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Exia/Exd</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#"> Полевой корпус</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Гигиенический</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Локальная настройка</a>
        </li>
      </ul>
      <ul class="list__list">
        <li class="list__item">
          <a class="list__link" href="#">Открытая мембрана</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Высокоточный</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Морское исполнение</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">
            Бюджетные многопредельные датчики давления DMP 330</a
          >
        </li>
        <li class="list__item">
          <a class="list__link" href="#"
            >Датчики давления для холодильных установок (холодильного
            оборудования)</a
          >
        </li>
        <li class="list__item">
          <a class="list__link" href="#"
            >Датчики давления для приборов учета тепла (теплосчетчиков)</a
          >
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Уровнемеры БД Сенсорс РУС</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#"
            >Датчики уровня для агрессивных жидкостей БД СЕНСОРС РУС</a
          >
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Уровнемеры для сточных вод</a>
        </li>
      </ul>
      <ul class="list__list">
        <li class="list__item">
          <a class="list__link" href="#">Уровнемеры для пресной воды
            и неагрессивных жидкостей</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Уровнемеры для топлива</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Датчики уровня для вязких
            и пастообразных сред</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Уровнемеры для пульпы</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Датчики уровня для обезвоженного ила</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Датчики абсолютного давления</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Датчики давления для агрессивных сред</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">
            Общепромышленные датчики давления</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Датчики разрежения</a>
        </li>
      </ul>
      <ul class="list__list">
        <li class="list__item">
          <a class="list__link" href="#">Экономичные датчики давления</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Датчики избыточного давления</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Датчики высокого давления (до 6000 бар)</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Для высокотемпературных сред</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Гигиенические датчики давления</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Интеллектуальные датчики давления</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Датчики низкого давления</a>
        </li>
        <li class="list__item">
          <a class="list__link" href="#">Датчики давления для вязких
            и пастообразных сред БД СЕНСОРС РУС</a>
        </li>
      </ul>
    </div>
  </div>
</div>
