<section class="news-section news-section--blue">
  <div class="container">
    <div class="news-section__wrapper">
      <div class="news-section__left">
        <h2 class="news-section__title section-title">Новости компании</h2>
        <p class="news-section__text">
          Смотрите актуальную информацию о продуктовых новинках, разработках и
          развитии компании в разделе новости
        </p>
        <button class="news-section__btn btn" type="button">Все новости</button>
      </div>
      <ul class="news-section__list">
        <li class="news-section__item">
          <div class="news-card">
            <a class="news-card__top" href="#">
              <picture>
                <source srcset="img/news/1.webp" type="image/webp" />
                <img src="img/news/1.jpg" alt="img" />
              </picture>
            </a>
            <div class="news-card__body">
              <span class="news-card__date"> 10.07.2019 </span>
              <span class="news-card__title" href="#">
                Сокращен срок производства малогабаритных датчиков в полевом
                корпусе!
              </span>

              <a class="news-card__link" href="#">
                Читать подробнее
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
        <li class="news-section__item">
          <div class="news-card">
            <a class="news-card__top" href="#">
              <picture>
                <source srcset="img/news/2.webp" type="image/webp" />
                <img src="img/news/2.jpg" alt="img" />
              </picture>
            </a>
            <div class="news-card__body">
              <span class="news-card__date"> 10.07.2019 </span>
              <span class="news-card__title" href="#">
                Бюджетные датчики давления серии DMP 330 от 3000 рублей.
              </span>

              <a class="news-card__link" href="#">
                Читать подробнее
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
