<section class="partners">
  <div class="container">
    <div class="partners__wrapper">
      <div class="partners__top">
        <h1 class="partners__title section-title">Дилеры и партнеры</h1>
        <div class="partners__text">
          <p>
            Компания BDSensors RUS развивает региональную дилерскую сеть. Если
            Вы заинтересованы в надежном поставщике высококачественной техники
            КИПиА и систем автоматизации, приглашаем Вашу компанию стать нашим
            партнером.
          </p>
          <p>
            На все интересующие Вас вопросы по поводу возможности стать нашим
            представителем и заключения дилерского договора обращайтесь по
            телефону: +7 (495) 380-1683 или по электронной почте.
          </p>
          <p>
            Купить датчики давления, датчики уровня (уровнемеры), реле давления,
            датчики реле давления и принадлежности к ним производства БД Сенсорс
            РУС также можно и у наших дилеров в регионах.
          </p>
        </div>
        <div class="partners__block">
          <strong>Отдел розничных продаж BD Sensors RUS</strong>
          117105, г. Москва, Варшавское шоссе, 35с1, тел. (495) 380-16-83 <br />
          Поставки по всей территории РФ и странам СНГ (кроме Украины)
        </div>
        <div class="partners__select-wrap">
          <span class="partners__label">Ваш регион:</span>
          <select class="partners__select">
            <option value="0">Выберите Ваш регион</option>
            <option value="1">Выберите Ваш регион</option>
            <option value="2">Выберите Ваш регион</option>
          </select>
        </div>
      </div>
    </div>
    <div class="partners__map map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A9091bda26eaa9ef83c3c52fd91c012fc4d005d39d29d268dc8f64f8f5818ea3b&amp;source=constructor"
        width="800"
        height="600"
      ></iframe>
    </div>

    <div class="list-dealers">
      <h2 class="list-dealers__title">Список дилеров и центров продаж</h2>
      <div class="list-dealers__block">
        <strong>Отдел розничных продаж BD Sensors RUS</strong>
        117105, г. Москва, Варшавское шоссе, 35с1, тел. (495) 380-16-83 <br />
        Поставки по всей территории РФ и странам СНГ (кроме Украины)
      </div>

      <div class="list-dealers__list">
        <span class="list-dealers__accent">Дилеры центр </span>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Москва</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Москва</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Москва</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Москва</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Москва</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Москва</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Москва</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Москва</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Москва</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="list-dealers__list">
        <span class="list-dealers__accent">Северо-Запад </span>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Санкт-Петербург</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Санкт-Петербург</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Санкт-Петербург</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Санкт-Петербург</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Санкт-Петербург</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="list-dealers__list">
        <span class="list-dealers__accent">Юг</span>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Ростов-на-Дону</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Ростов-на-Дону</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Ростов-на-Дону</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Ростов-на-Дону</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="list-dealers__list">
        <span class="list-dealers__accent">Приволжье</span>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Ижевск</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Ижевск</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Ижевск</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Ижевск</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="list-dealers__list">
        <span class="list-dealers__accent">Урал</span>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Екатеринбург</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Екатеринбург</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Екатеринбург</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Екатеринбург</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="list-dealers__list">
        <span class="list-dealers__accent">Сибирь</span>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Барнаул</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Барнаул</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Барнаул</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Барнаул</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="list-dealers__list">
        <span class="list-dealers__accent">Беларусь</span>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Минск</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="list-dealers__list">
        <span class="list-dealers__accent">Казахстан</span>
        <div class="list-dealers__boxes">
          <div class="list-dealers__box">
            <span class="list-dealers__name"><b>Караганда</b></span>
            <ul class="list-dealers__list">
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#office"></use>
                </svg>
                ООО "ПРОМИМПОРТ"
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#location"></use>
                </svg>
                121471, г. Москва, 2-й переулок Петра Алексеева, дом 2, строение
                1
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                Телефон: <a href="tel:+74957960596">(495) 796-05-96</a>
              </li>
              <li class="list-dealers__item">
                <svg>
                  <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                Email:
                <a href="mailto:info@promimport.ru">info@promimport.ru</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
