<section class="product">
  <div class="container">
    <div class="product__wrapper">
      <div class="product__left">
        <picture>
          <source srcset="img/product.webp" type="image/webp" />
          <img src="img/product.jpg" alt="img" />
        </picture>
      </div>
      <div class="product__right">
        <h1 class="product__title section-title">XMP i</h1>
        <p class="product__descr">
          <strong>
            Датчик из нержавеющей стали для технологической и нефтегазовой
            отрасли
          </strong>
        </p>
        <div class="product__text">
          <p>
            Датчик давления XMP i, разработанный специально для требований
            перерабатывающей промышленности, измеряет пониженное, избыточное и
            абсолютное давление газов, паров, жидкостей и пыли до 600 бар.
          </p>
          <p>
            В качестве технологических соединений доступны резьбовые и фланцевые
            конструкции с внутренней или приваренной заподлицо мембраной из
            нержавеющей стали, которая при необходимости может сочетаться с
            охлаждающей линией для температур среды до 300 °C. Устройство
            стандартно оснащено системой связи HART® и может иметь корпус из
            литого под давлением алюминия или корпуса из нержавеющей стали на
            выбор.
          </p>
        </div>
        <button class="product__btn btn btn-request-product" type="button">
          Заявка на продукт
        </button>
      </div>
    </div>
  </div>

  <div class="product__spec spec">
    <div class="container">
      <div class="spec__inner">
        <div class="spec__box">
          <span class="spec__name">Характеристики</span>

          <ul class="spec__list">
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />
              Номинальное давление: от 0 ... 400 мбар до 0 ... 600 бар
            </li>
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />Точность: 0,1% FSO
            </li>
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />Выключение 1:10
            </li>
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />
              Двухкамерный корпус из литого под давлением алюминия или корпус из
              нержавеющей стали
            </li>
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />
              внутренние или передние сварные мембраны заподлицо
            </li>
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />Связь HART®
            </li>
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />
              Взрывозащищенный: искробезопасный дизайн (ia)
            </li>
          </ul>
        </div>
        <div class="spec__box spec__box--industries">
          <span class="spec__name">Отрасли</span>

          <ul class="spec__list">
            <li class="spec__item">
              <img src="img/industries-icons/gear.png" alt="icon" />
              Оборудование и машиностроение
            </li>
            <li class="spec__item">
              <img src="img/industries-icons/flask.png" alt="icon" />
              Химия
            </li>
            <li class="spec__item">
              <img src="img/industries-icons/pill.png" alt="icon" />
              Медицинская техника
            </li>
            <li class="spec__item">
              <img src="img/industries-icons/assembly-line.png" alt="icon" />
              Пищевая / пищевая промышленность
            </li>
            <li class="spec__item">
              <img src="img/industries-icons/oil-drum.png" alt="icon" />
              Нефтегазовая промышленность
            </li>
            <li class="spec__item">
              <img src="img/industries-icons/box.png" alt="icon" />
              Упаковочная и бумажная промышленность
            </li>
          </ul>
        </div>
        <div class="spec__box">
          <span class="spec__name">Дополнительные функции</span>

          <ul class="spec__list">
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />Взрывозащищенный
              герметизирующий корпус, устойчивый к давлению (d)
            </li>
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />Конструкция SIL2 в
              соответствии с IEC 61508 / IEC 61511
            </li>
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />Встроенный модуль
              отображения и управления
            </li>
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />
              Специальные материалы, такие как Hastelloy® и тантал
            </li>
            <li class="spec__item">
              <img src="img/double-chevron.png" alt="icon" />
              Температурный разъединитель для температуры среды до 300 °C
            </li>
          </ul>
        </div>
        <div class="spec__box">
          <span class="spec__name">Документы</span>

          <div class="spec-accordions">
            <div class="spec-accordions__accordion accordion">
              <button
                class="spec-accordions__control accordion-control-btn"
                type="button"
              >
                Таблицы данных
              </button>

              <div class="spec-accordions__content accordion-content">
                <div class="spec-accordions__inner">
                  <a class="spec-accordions__link" href="#">
                    <img src="img/double-chevron.png" alt="icon" />
                    На немецком
                  </a>
                  <a class="spec-accordions__link" href="#">
                    <img src="img/double-chevron.png" alt="icon" />
                    На английском
                  </a>
                </div>
              </div>
            </div>
            <div class="spec-accordions__accordion accordion">
              <button
                class="spec-accordions__control accordion-control-btn"
                type="button"
              >
                Инструкции по эксплуатации
              </button>

              <div class="spec-accordions__content accordion-content">
                <div class="spec-accordions__inner">
                  <a class="spec-accordions__link" href="#">
                    <img src="img/double-chevron.png" alt="icon" />
                    На немецком
                  </a>
                  <a class="spec-accordions__link" href="#">
                    <img src="img/double-chevron.png" alt="icon" />
                    На английском
                  </a>
                </div>
              </div>
            </div>
            <div class="spec-accordions__accordion accordion">
              <button
                class="spec-accordions__control accordion-control-btn"
                type="button"
              >
                Другое
              </button>

              <div class="spec-accordions__content accordion-content">
                <div class="spec-accordions__inner">
                  <a class="spec-accordions__link" href="#">
                    <img src="img/double-chevron.png" alt="icon" />
                    На немецком
                  </a>
                  <a class="spec-accordions__link" href="#">
                    <img src="img/double-chevron.png" alt="icon" />
                    На английском
                  </a>
                </div>
              </div>
            </div>
            <div class="spec-accordions__accordion accordion">
              <button
                class="spec-accordions__control accordion-control-btn"
                type="button"
              >
                Сертификаты
              </button>

              <div class="spec-accordions__content accordion-content">
                <div class="spec-accordions__inner">
                  <a class="spec-accordions__link" href="#">
                    <img src="img/double-chevron.png" alt="icon" />
                    На немецком
                  </a>
                  <a class="spec-accordions__link" href="#">
                    <img src="img/double-chevron.png" alt="icon" />
                    На английском
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
