<section class="production">
  <div class="container">
    <div class="production__wrapper">
      <div class="production__top">
        <h2 class="production__title section-title">
          Самый большой ассортимент продукции в России
        </h2>

        <p class="production__text">
          У нас есть исключительно обширный ассортимент стандартных продуктов,
          актуальных для рынка. Это основано на возможности сочетания различных
          материалов корпуса с различными сенсорными технологиями.
        </p>
      </div>
      <ul class="production__list">
        <li class="production__item">
          <a class="production-card" href="#">
            <span class="production-card__top">
              <picture>
                <source srcset="img/production/1.webp" type="image/webp" />
                <img src="img/production/1.png" alt="production" />
              </picture>
            </span>
            <span class="production-card__title">Давление</span>
          </a>
        </li>
        <li class="production__item">
          <a class="production-card" href="#">
            <span class="production-card__top">
              <picture>
                <source srcset="img/production/2.webp" type="image/webp" />
                <img src="img/production/2.png" alt="production" />
              </picture>
            </span>
            <span class="production-card__title">Уровень</span>
          </a>
        </li>
        <li class="production__item">
          <a class="production-card" href="#">
            <span class="production-card__top">
              <picture>
                <source srcset="img/production/3.webp" type="image/webp" />
                <img src="img/production/3.png" alt="production" />
              </picture>
            </span>
            <span class="production-card__title">Реле</span>
          </a>
        </li>
        <li class="production__item">
          <a class="production-card" href="#">
            <span class="production-card__top">
              <picture>
                <source srcset="img/production/4.webp" type="image/webp" />
                <img src="img/production/4.png" alt="production" />
              </picture>
            </span>
            <span class="production-card__title">Манометры</span>
          </a>
        </li>
        <li class="production__item">
          <a class="production-card" href="#">
            <span class="production-card__top">
              <picture>
                <source srcset="img/production/5.webp" type="image/webp" />
                <img src="img/production/5.png" alt="production" />
              </picture>
            </span>
            <span class="production-card__title">Принадлежности</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
