<section class="technologies">
  <div class="container">
    <div class="technologies__top">
      <h1 class="technologies__title section-title">Технологии</h1>
      <p class="technologies__text">
        BD Sensors предлагает чувствительные элементы (сенсоры) для
        разработчиков и производителей датчиков давления. Ниже представлены
        номенклатура и технические характеристики сенсоров. Минимальное
        количество заказа - 10 шт. на позицию. По вопросам цены и сроков
        поставки обращайтесь в отдел продаж. Типы предлагаемых сенсоров:
      </p>
    </div>
    <div class="technologies__inner">
      <div class="technologies__head">
        <h2 class="technologies__heading">
          Кремниевые тензорезистивные сенсоры давления
        </h2>
        <p class="technologies__text">
          Сенсоры давления серий DSP 210, DSP 411 и DSP 412 перекрывают широкий
          диапазон давлений от 20 мбар (2 кПа) до 1000 бар (100 МПа) абсолютного
          или избыточного давления. Благодаря превосходной устойчивости к
          перегрузкам и высокому уровню выходного сигнала, находят применение в
          общепромышленном оборудовании, пневматике, гидравлике, лабораторной
          технике (калибровочное оборудование) для измерения уровня и
          автоматического контроля технологических процессов.
        </p>
      </div>
      <ul class="technologies__list">
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210U</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210U</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <div class="technologies__inner">
      <div class="technologies__head">
        <h2 class="technologies__heading">
          Кремниевые тензорезистивные сенсоры давления
        </h2>
        <p class="technologies__text">
          Сенсоры давления серий DSP 210, DSP 411 и DSP 412 перекрывают широкий
          диапазон давлений от 20 мбар (2 кПа) до 1000 бар (100 МПа) абсолютного
          или избыточного давления. Благодаря превосходной устойчивости к
          перегрузкам и высокому уровню выходного сигнала, находят применение в
          общепромышленном оборудовании, пневматике, гидравлике, лабораторной
          технике (калибровочное оборудование) для измерения уровня и
          автоматического контроля технологических процессов.
        </p>
      </div>
      <ul class="technologies__list">
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210U</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210U</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <div class="technologies__inner">
      <div class="technologies__head">
        <h2 class="technologies__heading">
          Кремниевые тензорезистивные сенсоры давления
        </h2>
        <p class="technologies__text">
          Сенсоры давления серий DSP 210, DSP 411 и DSP 412 перекрывают широкий
          диапазон давлений от 20 мбар (2 кПа) до 1000 бар (100 МПа) абсолютного
          или избыточного давления. Благодаря превосходной устойчивости к
          перегрузкам и высокому уровню выходного сигнала, находят применение в
          общепромышленном оборудовании, пневматике, гидравлике, лабораторной
          технике (калибровочное оборудование) для измерения уровня и
          автоматического контроля технологических процессов.
        </p>
      </div>
      <ul class="technologies__list">
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210U</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
        <li class="technologies__item">
          <article class="technologies-card">
            <picture>
              <source srcset="img/technologies/1.webp" type="image/webp" />
              <img
                class="technologies-card__img"
                src="img/technologies/1.png"
                alt="img"
              />
            </picture>
            <div class="technologies-card__body">
              <h3 class="technologies-card__title">DSP 210K</h3>
              <ul class="technologies-card__list">
                <li class="technologies-card__item">• Нет термокомпенсации</li>
                <li class="technologies-card__item">• Без отделителя</li>
                <li class="technologies-card__item">• Устойчив к вакууму</li>
                <li class="technologies-card__item">
                  • Монтаж в штуцер с помощью тороидального уплотнительного
                  кольца
                </li>
                <li class="technologies-card__item">
                  • Диапазоны давления: от 0…20 мбар до 0…7 бар -1…0 бар
                  избыточное
                </li>
              </ul>
              <a class="technologies-card__download" href="#" download>
                <img src="img/pdf-icon.png" alt="img" />
                Техническая документация на сенсор DSP 210U
              </a>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
