<section class="vacancies">
  <div class="container">
    <div class="vacancies__wrapper">
      <div class="vacancies__top">
        <h1 class="vacancies__title section-title">Вакансии</h1>
        <p class="vacancies__text">
          Успех BD SENSORS RUS во многом определяется высокой квалификацией
          наших сотрудников. BD SENSORS RUS занимает прочное место на рынке и
          продолжает постоянно развиваться. Если Вас заинтересовала одна из
          наших вакансий, пожалуйста, отправьте нам по электронной почте
          jobs@bdsensors.ru Ваше резюме, в котором укажите название вакансии,
          опыт работы, профессиональные навыки, место проживания, возраст и
          контактный телефон. При отправке по электронной почте обязательно
          укажите в теме письма «Резюме на вакансию ___________».
        </p>
      </div>
      <div class="vacancies-accordions">
        <div class="vacancies-accordions__accordion accordion">
          <button
            class="vacancies-accordions__control accordion-control-btn"
            type="button"
          >
            Менеджер по подажам
          </button>

          <div class="vacancies-accordions__content accordion-content">
            <div class="vacancies-item">
              <p class="vacancies-item__text">
                Главная задача нашего менеджера – Продавать уникальный товар по
                всей России и СНГ. Мы ищем специалиста, который готов
                развиваться, много учиться и работать с большими объемами
                данных. Мы готовы рассмотреть специалистов из смежных областей.
                Для нас важны ваши личностные качества: самообучаемость,
                самоорганизация, ответственность и активная жизненная позиция.
              </p>
              <div class="vacancies-item__box">
                <span class="vacancies-item__name">
                  <strong>Обязанности:</strong>
                </span>
                <ul class="vacancies-item__list">
                  <li class="vacancies-item__item">
                    • Владение техниками продаж.
                  </li>
                  <li class="vacancies-item__item">
                    • Опыт ведения результативных переговоров и презентаций.
                  </li>
                  <li class="vacancies-item__item">
                    • Отличные коммуникативные навыки и презентабельный внешний
                    вид.
                  </li>
                  <li class="vacancies-item__item">
                    • Опыт работы в Bitrix24 или в других CRM системах (как
                    минимум понимание принципов работы);
                  </li>
                  <li class="vacancies-item__item">
                    • Целеустремленность, ориентация на результат, активная
                    жизненная позиция.
                  </li>
                  <li class="vacancies-item__item">
                    • Желание расти и развиваться;
                  </li>
                </ul>
              </div>
              <div class="vacancies-item__box">
                <span class="vacancies-item__name">
                  <strong>Что мы предлагаем:</strong>
                </span>
                <ul class="vacancies-item__list">
                  <li class="vacancies-item__item">• Гибкий график</li>
                  <li class="vacancies-item__item">
                    • Свобода в выборе инструментов достижения результата
                  </li>
                  <li class="vacancies-item__item">
                    • Стабильный заработок. Честные выплаты - превыше всего!
                    Платим всегда вовремя за успешные звонки.
                  </li>
                  <li class="vacancies-item__item">
                    • Оклад+бонус потолка нет, своим заработком УПРАВЛЯЕШЬ ТЫ
                  </li>
                  <li class="vacancies-item__item">
                    • Тебе оплачивается не только успешный звонок, но и процент
                    с продаж и KPI
                  </li>
                  <li class="vacancies-item__item">
                    • Зарплата два раза в месяц и всегда вовремя
                  </li>
                  <li class="vacancies-item__item">
                    • Удобное месторасположение, добраться можно из любой точки
                    города.
                  </li>
                </ul>
              </div>

              <button class="vacancies-item__btn btn" type="button">
                Отправить резюме
              </button>
            </div>
          </div>
        </div>
        <div class="vacancies-accordions__accordion accordion">
          <button
            class="vacancies-accordions__control accordion-control-btn"
            type="button"
          >
            Курьер
          </button>

          <div class="vacancies-accordions__content accordion-content">
            <div class="vacancies-item">
              <p class="vacancies-item__text">
                Главная задача нашего менеджера – Продавать уникальный товар по
                всей России и СНГ. Мы ищем специалиста, который готов
                развиваться, много учиться и работать с большими объемами
                данных. Мы готовы рассмотреть специалистов из смежных областей.
                Для нас важны ваши личностные качества: самообучаемость,
                самоорганизация, ответственность и активная жизненная позиция.
              </p>
              <div class="vacancies-item__box">
                <span class="vacancies-item__name">
                  <strong>Обязанности:</strong>
                </span>
                <ul class="vacancies-item__list">
                  <li class="vacancies-item__item">
                    • Владение техниками продаж.
                  </li>
                  <li class="vacancies-item__item">
                    • Опыт ведения результативных переговоров и презентаций.
                  </li>
                  <li class="vacancies-item__item">
                    • Отличные коммуникативные навыки и презентабельный внешний
                    вид.
                  </li>
                  <li class="vacancies-item__item">
                    • Опыт работы в Bitrix24 или в других CRM системах (как
                    минимум понимание принципов работы);
                  </li>
                  <li class="vacancies-item__item">
                    • Целеустремленность, ориентация на результат, активная
                    жизненная позиция.
                  </li>
                  <li class="vacancies-item__item">
                    • Желание расти и развиваться;
                  </li>
                </ul>
              </div>
              <div class="vacancies-item__box">
                <span class="vacancies-item__name">
                  <strong>Что мы предлагаем:</strong>
                </span>
                <ul class="vacancies-item__list">
                  <li class="vacancies-item__item">• Гибкий график</li>
                  <li class="vacancies-item__item">
                    • Свобода в выборе инструментов достижения результата
                  </li>
                  <li class="vacancies-item__item">
                    • Стабильный заработок. Честные выплаты - превыше всего!
                    Платим всегда вовремя за успешные звонки.
                  </li>
                  <li class="vacancies-item__item">
                    • Оклад+бонус потолка нет, своим заработком УПРАВЛЯЕШЬ ТЫ
                  </li>
                  <li class="vacancies-item__item">
                    • Тебе оплачивается не только успешный звонок, но и процент
                    с продаж и KPI
                  </li>
                  <li class="vacancies-item__item">
                    • Зарплата два раза в месяц и всегда вовремя
                  </li>
                  <li class="vacancies-item__item">
                    • Удобное месторасположение, добраться можно из любой точки
                    города.
                  </li>
                </ul>
              </div>

              <button class="vacancies-item__btn btn" type="button">
                Отправить резюме
              </button>
            </div>
          </div>
        </div>
        <div class="vacancies-accordions__accordion accordion">
          <button
            class="vacancies-accordions__control accordion-control-btn"
            type="button"
          >
            Администратор
          </button>

          <div class="vacancies-accordions__content accordion-content">
            <div class="vacancies-item">
              <p class="vacancies-item__text">
                Главная задача нашего менеджера – Продавать уникальный товар по
                всей России и СНГ. Мы ищем специалиста, который готов
                развиваться, много учиться и работать с большими объемами
                данных. Мы готовы рассмотреть специалистов из смежных областей.
                Для нас важны ваши личностные качества: самообучаемость,
                самоорганизация, ответственность и активная жизненная позиция.
              </p>
              <div class="vacancies-item__box">
                <span class="vacancies-item__name">
                  <strong>Обязанности:</strong>
                </span>
                <ul class="vacancies-item__list">
                  <li class="vacancies-item__item">
                    • Владение техниками продаж.
                  </li>
                  <li class="vacancies-item__item">
                    • Опыт ведения результативных переговоров и презентаций.
                  </li>
                  <li class="vacancies-item__item">
                    • Отличные коммуникативные навыки и презентабельный внешний
                    вид.
                  </li>
                  <li class="vacancies-item__item">
                    • Опыт работы в Bitrix24 или в других CRM системах (как
                    минимум понимание принципов работы);
                  </li>
                  <li class="vacancies-item__item">
                    • Целеустремленность, ориентация на результат, активная
                    жизненная позиция.
                  </li>
                  <li class="vacancies-item__item">
                    • Желание расти и развиваться;
                  </li>
                </ul>
              </div>
              <div class="vacancies-item__box">
                <span class="vacancies-item__name">
                  <strong>Что мы предлагаем:</strong>
                </span>
                <ul class="vacancies-item__list">
                  <li class="vacancies-item__item">• Гибкий график</li>
                  <li class="vacancies-item__item">
                    • Свобода в выборе инструментов достижения результата
                  </li>
                  <li class="vacancies-item__item">
                    • Стабильный заработок. Честные выплаты - превыше всего!
                    Платим всегда вовремя за успешные звонки.
                  </li>
                  <li class="vacancies-item__item">
                    • Оклад+бонус потолка нет, своим заработком УПРАВЛЯЕШЬ ТЫ
                  </li>
                  <li class="vacancies-item__item">
                    • Тебе оплачивается не только успешный звонок, но и процент
                    с продаж и KPI
                  </li>
                  <li class="vacancies-item__item">
                    • Зарплата два раза в месяц и всегда вовремя
                  </li>
                  <li class="vacancies-item__item">
                    • Удобное месторасположение, добраться можно из любой точки
                    города.
                  </li>
                </ul>
              </div>

              <button class="vacancies-item__btn btn" type="button">
                Отправить резюме
              </button>
            </div>
          </div>
        </div>
        <div class="vacancies-accordions__accordion accordion">
          <button
            class="vacancies-accordions__control accordion-control-btn"
            type="button"
          >
            Водитель
          </button>

          <div class="vacancies-accordions__content accordion-content">
            <div class="vacancies-item">
              <p class="vacancies-item__text">
                Главная задача нашего менеджера – Продавать уникальный товар по
                всей России и СНГ. Мы ищем специалиста, который готов
                развиваться, много учиться и работать с большими объемами
                данных. Мы готовы рассмотреть специалистов из смежных областей.
                Для нас важны ваши личностные качества: самообучаемость,
                самоорганизация, ответственность и активная жизненная позиция.
              </p>
              <div class="vacancies-item__box">
                <span class="vacancies-item__name">
                  <strong>Обязанности:</strong>
                </span>
                <ul class="vacancies-item__list">
                  <li class="vacancies-item__item">
                    • Владение техниками продаж.
                  </li>
                  <li class="vacancies-item__item">
                    • Опыт ведения результативных переговоров и презентаций.
                  </li>
                  <li class="vacancies-item__item">
                    • Отличные коммуникативные навыки и презентабельный внешний
                    вид.
                  </li>
                  <li class="vacancies-item__item">
                    • Опыт работы в Bitrix24 или в других CRM системах (как
                    минимум понимание принципов работы);
                  </li>
                  <li class="vacancies-item__item">
                    • Целеустремленность, ориентация на результат, активная
                    жизненная позиция.
                  </li>
                  <li class="vacancies-item__item">
                    • Желание расти и развиваться;
                  </li>
                </ul>
              </div>
              <div class="vacancies-item__box">
                <span class="vacancies-item__name">
                  <strong>Что мы предлагаем:</strong>
                </span>
                <ul class="vacancies-item__list">
                  <li class="vacancies-item__item">• Гибкий график</li>
                  <li class="vacancies-item__item">
                    • Свобода в выборе инструментов достижения результата
                  </li>
                  <li class="vacancies-item__item">
                    • Стабильный заработок. Честные выплаты - превыше всего!
                    Платим всегда вовремя за успешные звонки.
                  </li>
                  <li class="vacancies-item__item">
                    • Оклад+бонус потолка нет, своим заработком УПРАВЛЯЕШЬ ТЫ
                  </li>
                  <li class="vacancies-item__item">
                    • Тебе оплачивается не только успешный звонок, но и процент
                    с продаж и KPI
                  </li>
                  <li class="vacancies-item__item">
                    • Зарплата два раза в месяц и всегда вовремя
                  </li>
                  <li class="vacancies-item__item">
                    • Удобное месторасположение, добраться можно из любой точки
                    города.
                  </li>
                </ul>
              </div>

              <button class="vacancies-item__btn btn" type="button">
                Отправить резюме
              </button>
            </div>
          </div>
        </div>
        <div class="vacancies-accordions__accordion accordion">
          <button
            class="vacancies-accordions__control accordion-control-btn"
            type="button"
          >
            Руководитель отдела продаж
          </button>

          <div class="vacancies-accordions__content accordion-content">
            <div class="vacancies-item">
              <p class="vacancies-item__text">
                Главная задача нашего менеджера – Продавать уникальный товар по
                всей России и СНГ. Мы ищем специалиста, который готов
                развиваться, много учиться и работать с большими объемами
                данных. Мы готовы рассмотреть специалистов из смежных областей.
                Для нас важны ваши личностные качества: самообучаемость,
                самоорганизация, ответственность и активная жизненная позиция.
              </p>
              <div class="vacancies-item__box">
                <span class="vacancies-item__name">
                  <strong>Обязанности:</strong>
                </span>
                <ul class="vacancies-item__list">
                  <li class="vacancies-item__item">
                    • Владение техниками продаж.
                  </li>
                  <li class="vacancies-item__item">
                    • Опыт ведения результативных переговоров и презентаций.
                  </li>
                  <li class="vacancies-item__item">
                    • Отличные коммуникативные навыки и презентабельный внешний
                    вид.
                  </li>
                  <li class="vacancies-item__item">
                    • Опыт работы в Bitrix24 или в других CRM системах (как
                    минимум понимание принципов работы);
                  </li>
                  <li class="vacancies-item__item">
                    • Целеустремленность, ориентация на результат, активная
                    жизненная позиция.
                  </li>
                  <li class="vacancies-item__item">
                    • Желание расти и развиваться;
                  </li>
                </ul>
              </div>
              <div class="vacancies-item__box">
                <span class="vacancies-item__name">
                  <strong>Что мы предлагаем:</strong>
                </span>
                <ul class="vacancies-item__list">
                  <li class="vacancies-item__item">• Гибкий график</li>
                  <li class="vacancies-item__item">
                    • Свобода в выборе инструментов достижения результата
                  </li>
                  <li class="vacancies-item__item">
                    • Стабильный заработок. Честные выплаты - превыше всего!
                    Платим всегда вовремя за успешные звонки.
                  </li>
                  <li class="vacancies-item__item">
                    • Оклад+бонус потолка нет, своим заработком УПРАВЛЯЕШЬ ТЫ
                  </li>
                  <li class="vacancies-item__item">
                    • Тебе оплачивается не только успешный звонок, но и процент
                    с продаж и KPI
                  </li>
                  <li class="vacancies-item__item">
                    • Зарплата два раза в месяц и всегда вовремя
                  </li>
                  <li class="vacancies-item__item">
                    • Удобное месторасположение, добраться можно из любой точки
                    города.
                  </li>
                </ul>
              </div>

              <button class="vacancies-item__btn btn" type="button">
                Отправить резюме
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
